Eve Control/Service References/RelayServiceReference/Eve.API.Services.Common.Modules.Touch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Touch" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Touch" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TrackPadMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Angle" type="xs:double" />
      <xs:element minOccurs="0" name="Command" type="tns:TrackPadMessage.TrackPadCommands" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules" minOccurs="0" name="Direction" type="q1:Orientation" />
      <xs:element minOccurs="0" name="DistanceRatio" type="xs:double" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrackPadMessage" nillable="true" type="tns:TrackPadMessage" />
  <xs:simpleType name="TrackPadMessage.TrackPadCommands">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Tap" />
      <xs:enumeration value="Hold" />
      <xs:enumeration value="DoubleTap" />
      <xs:enumeration value="Flick" />
      <xs:enumeration value="DragStarted" />
      <xs:enumeration value="DragDelta" />
      <xs:enumeration value="DragCompleted" />
      <xs:enumeration value="PinchStarted" />
      <xs:enumeration value="PinchDelta" />
      <xs:enumeration value="PinchCompleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TrackPadMessage.TrackPadCommands" nillable="true" type="tns:TrackPadMessage.TrackPadCommands" />
  <xs:complexType name="ButtonMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Button" type="tns:ButtonMessage.Buttons" />
      <xs:element minOccurs="0" name="Command" type="tns:ButtonMessage.ButtonCommands" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ButtonMessage" nillable="true" type="tns:ButtonMessage" />
  <xs:simpleType name="ButtonMessage.Buttons">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Left" />
          <xs:enumeration value="Right" />
          <xs:enumeration value="Middle">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ButtonMessage.Buttons" nillable="true" type="tns:ButtonMessage.Buttons" />
  <xs:simpleType name="ButtonMessage.ButtonCommands">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Tap" />
          <xs:enumeration value="Hold" />
          <xs:enumeration value="DoubleTap" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ButtonMessage.ButtonCommands" nillable="true" type="tns:ButtonMessage.ButtonCommands" />
</xs:schema>