Eve Control/Service References/RelayServiceReference/Eve.API.Services.Common.Modules.Lights.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Lights" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Lights" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Light" nillable="true" type="tns:Light" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLight" nillable="true" type="tns:ArrayOfLight" />
  <xs:complexType name="Light">
    <xs:sequence>
      <xs:element minOccurs="0" name="Alias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Light" nillable="true" type="tns:Light" />
</xs:schema>