Eve Control/Service References/RelayServiceReference/RelayService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RelayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IRelayService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.101:64410/eve/relay/ClientRelayService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.101:64410/eve/relay/ClientRelayService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.101:64410/eve/relay/ClientRelayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" />
      <xsd:import schemaLocation="http://192.168.1.101:64410/eve/relay/ClientRelayService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRelayService_SendTrackPadMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendTrackPadMessage" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SendTrackPadMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendTrackPadMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SendButtonMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendButtonMessage" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SendButtonMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendButtonMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IRelayService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SignIn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SignIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SignOut_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IRelayService_SignOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_GetClientState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientState" />
  </wsdl:message>
  <wsdl:message name="IRelayService_GetClientState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_GetAvailableClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableClients" />
  </wsdl:message>
  <wsdl:message name="IRelayService_GetAvailableClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IRelayService_Unsibscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsibscribe" />
  </wsdl:message>
  <wsdl:message name="IRelayService_UpdateClientState_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientState" />
  </wsdl:message>
  <wsdl:message name="IRelayService_UpdateClientState_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientStateResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayService_PingRequest_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingRequest" />
  </wsdl:message>
  <wsdl:message name="IRelayService_PingRequest_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:PingRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IRelayService">
    <wsdl:operation name="SendTrackPadMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITouchService/SendTrackPadMessage" message="tns:IRelayService_SendTrackPadMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITouchService/SendTrackPadMessageResponse" message="tns:IRelayService_SendTrackPadMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendButtonMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITouchService/SendButtonMessage" message="tns:IRelayService_SendButtonMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITouchService/SendButtonMessageResponse" message="tns:IRelayService_SendButtonMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveAPIService/Ping" message="tns:IRelayService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveAPIService/PingResponse" message="tns:IRelayService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveAPIService/SignIn" message="tns:IRelayService_SignIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveAPIService/SignInResponse" message="tns:IRelayService_SignIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveAPIService/SignOut" message="tns:IRelayService_SignOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveAPIService/SignOutResponse" message="tns:IRelayService_SignOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientState">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveAPIService/GetClientState" message="tns:IRelayService_GetClientState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveAPIService/GetClientStateResponse" message="tns:IRelayService_GetClientState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IEveAPIService/GetAvailableClients" message="tns:IRelayService_GetAvailableClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEveAPIService/GetAvailableClientsResponse" message="tns:IRelayService_GetAvailableClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayService/Subscribe" message="tns:IRelayService_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsibscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayService/Unsibscribe" message="tns:IRelayService_Unsibscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientState">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayService/UpdateClientState" message="tns:IRelayService_UpdateClientState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelayService/UpdateClientStateResponse" message="tns:IRelayService_UpdateClientState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingRequest">
      <wsdl:output wsaw:Action="http://tempuri.org/IRelayService/PingRequest" message="tns:IRelayService_PingRequest_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayService/PingRequestResponse" message="tns:IRelayService_PingRequest_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IRelayService" type="tns:IRelayService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IRelayService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendTrackPadMessage">
      <soap12:operation soapAction="http://tempuri.org/ITouchService/SendTrackPadMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendButtonMessage">
      <soap12:operation soapAction="http://tempuri.org/ITouchService/SendButtonMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap12:operation soapAction="http://tempuri.org/IEveAPIService/Ping" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/IEveAPIService/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap12:operation soapAction="http://tempuri.org/IEveAPIService/SignOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientState">
      <soap12:operation soapAction="http://tempuri.org/IEveAPIService/GetClientState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableClients">
      <soap12:operation soapAction="http://tempuri.org/IEveAPIService/GetAvailableClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IRelayService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Unsibscribe">
      <soap12:operation soapAction="http://tempuri.org/IRelayService/Unsibscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientState">
      <soap12:operation soapAction="http://tempuri.org/IRelayService/UpdateClientState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PingRequest">
      <soap12:operation soapAction="http://tempuri.org/IRelayService/PingRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RelayService">
    <wsdl:port name="WSDualHttpBinding_IRelayService" binding="tns:WSDualHttpBinding_IRelayService">
      <soap12:address location="http://192.168.1.101:64410/eve/relay/ClientRelayService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.1.101:64410/eve/relay/ClientRelayService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>