Eve Control/Service References/RelayServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Touch" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Lights" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Ambiental" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" minOccurs="0" name="clientData" nillable="true" type="q1:ServiceClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsibscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" minOccurs="0" name="clientData" nillable="true" type="q2:ServiceClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsibscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnsibscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientPing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yourName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientPingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientPingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" minOccurs="0" name="user" nillable="true" type="q3:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" minOccurs="0" name="user" nillable="true" type="q4:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" minOccurs="0" name="GetAvailableClientsResult" nillable="true" type="q5:ArrayOfServiceClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrackPadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Touch" minOccurs="0" name="message" nillable="true" type="q6:TrackPadMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrackPadMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTrackPadMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendButtonMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Touch" minOccurs="0" name="message" nillable="true" type="q7:ButtonMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendButtonMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendButtonMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetZoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="zoomValue" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetZoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetZoomResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Lights" minOccurs="0" name="GetLightsResult" nillable="true" type="q8:ArrayOfLight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLightState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="state" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetLightStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetLightStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmbientalLights">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAmbientalLightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Ambiental" minOccurs="0" name="GetAmbientalLightsResult" nillable="true" type="q9:ArrayOfAmbientalLight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAmbientalLightState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="state" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAmbientalLightStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAmbientalLightStateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAmbientalLightColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="r" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="g" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="b" type="xs:unsignedByte" />
        <xs:element minOccurs="0" name="a" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAmbientalLightColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAmbientalLightColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>