Eve Control/Service References/RelayServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientRelayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IClientRelayService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Touch" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Lights" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Common.Modules.Ambiental" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientRelayService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_Unsibscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsibscribe" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_Unsibscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsibscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_ClientPing_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientPing" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_ClientPing_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientPingResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SignIn_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SignIn" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SignIn_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SignInResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SignOut_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SignOut" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SignOut_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SignOutResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_GetAvailableClients_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableClients" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_GetAvailableClients_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SendTrackPadMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendTrackPadMessage" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SendTrackPadMessage_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendTrackPadMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SendButtonMessage_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendButtonMessage" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SendButtonMessage_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendButtonMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetZoom_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetZoom" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetZoom_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetZoomResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_GetLights_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetLights" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_GetLights_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetLightsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetLightState_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetLightState" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetLightState_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetLightStateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_GetAmbientalLights_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetAmbientalLights" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_GetAmbientalLights_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetAmbientalLightsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetAmbientalLightState_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetAmbientalLightState" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetAmbientalLightState_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetAmbientalLightStateResponse" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetAmbientalLightColor_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetAmbientalLightColor" />
  </wsdl:message>
  <wsdl:message name="IClientRelayService_SetAmbientalLightColor_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetAmbientalLightColorResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientRelayService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/Subscribe" message="tns:IClientRelayService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SubscribeResponse" message="tns:IClientRelayService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsibscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/Unsibscribe" message="tns:IClientRelayService_Unsibscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/UnsibscribeResponse" message="tns:IClientRelayService_Unsibscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/ClientPing" message="tns:IClientRelayService_ClientPing_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/ClientPingResponse" message="tns:IClientRelayService_ClientPing_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SignIn" message="tns:IClientRelayService_SignIn_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SignInResponse" message="tns:IClientRelayService_SignIn_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SignOut" message="tns:IClientRelayService_SignOut_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SignOutResponse" message="tns:IClientRelayService_SignOut_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableClients">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/GetAvailableClients" message="tns:IClientRelayService_GetAvailableClients_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/GetAvailableClientsResponse" message="tns:IClientRelayService_GetAvailableClients_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendTrackPadMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SendTrackPadMessage" message="tns:IClientRelayService_SendTrackPadMessage_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SendTrackPadMessageResponse" message="tns:IClientRelayService_SendTrackPadMessage_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendButtonMessage">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SendButtonMessage" message="tns:IClientRelayService_SendButtonMessage_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SendButtonMessageResponse" message="tns:IClientRelayService_SendButtonMessage_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetZoom">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SetZoom" message="tns:IClientRelayService_SetZoom_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SetZoomResponse" message="tns:IClientRelayService_SetZoom_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLights">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/GetLights" message="tns:IClientRelayService_GetLights_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/GetLightsResponse" message="tns:IClientRelayService_GetLights_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLightState">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SetLightState" message="tns:IClientRelayService_SetLightState_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SetLightStateResponse" message="tns:IClientRelayService_SetLightState_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAmbientalLights">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/GetAmbientalLights" message="tns:IClientRelayService_GetAmbientalLights_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/GetAmbientalLightsResponse" message="tns:IClientRelayService_GetAmbientalLights_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAmbientalLightState">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SetAmbientalLightState" message="tns:IClientRelayService_SetAmbientalLightState_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SetAmbientalLightStateResponse" message="tns:IClientRelayService_SetAmbientalLightState_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetAmbientalLightColor">
      <wsdl:output wsaw:Action="http://tempuri.org/IClientRelayService/SetAmbientalLightColor" message="tns:IClientRelayService_SetAmbientalLightColor_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IClientRelayService/SetAmbientalLightColorResponse" message="tns:IClientRelayService_SetAmbientalLightColor_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IClientRelayService" type="tns:IClientRelayService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IClientRelayService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsibscribe">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/Unsibscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientPing">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/ClientPing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignIn">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SignIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignOut">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SignOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableClients">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/GetAvailableClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTrackPadMessage">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SendTrackPadMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendButtonMessage">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SendButtonMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetZoom">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SetZoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLights">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/GetLights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLightState">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SetLightState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAmbientalLights">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/GetAmbientalLights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAmbientalLightState">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SetAmbientalLightState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAmbientalLightColor">
      <soap12:operation soapAction="http://tempuri.org/IClientRelayService/SetAmbientalLightColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientRelayService">
    <wsdl:port name="WSDualHttpBinding_IClientRelayService" binding="tns:WSDualHttpBinding_IClientRelayService">
      <soap12:address location="http://evevm.cloudapp.net:64410/eve/relay/ClientRelayService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://evevm.cloudapp.net:64410/eve/relay/ClientRelayService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>