Eve for Windows Phone/Service References/RelayServiceReference/RemoteRelayService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64410/RemoteRelayService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" />
  <xs:import schemaLocation="http://localhost:64410/RemoteRelayService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts" />
  <xs:element name="SendTrackPadMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" minOccurs="0" name="details" nillable="true" type="q1:ServiceRequestDetails" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts" minOccurs="0" name="message" nillable="true" type="q2:TrackPadMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTrackPadMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendTrackPadMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendButtonMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" minOccurs="0" name="details" nillable="true" type="q3:ServiceRequestDetails" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts" minOccurs="0" name="message" nillable="true" type="q4:ButtonMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendButtonMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendButtonMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="yourName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" minOccurs="0" name="user" nillable="true" type="q5:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignInResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" minOccurs="0" name="user" nillable="true" type="q6:ServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignOutResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" minOccurs="0" name="GetClientStateResult" nillable="true" type="q7:ClientState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Eve.API.Services.Contracts.Services" minOccurs="0" name="GetAvailableClientsResult" nillable="true" type="q8:ArrayOfServiceClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>